---
layout: home
title: Home
order: 0
---

<h1 class="page-heading">Welcome to SKKU Visualization Laboratory!</h1>

<section id="intro">
  <p>
    <strong>
      We aim to bridge the gap between humans and data, models, and computers.
    </strong>
  </p>
  <p>
    The ever-increasing size and complexity of data are now challenging our
    perceptual and cognitive abilities in daily analytics, leaving the data and
    models intractable without support. We believe interactive systems can
    address these challenges by amplifying our abilities to understand such data
    and models. We research Information Visualization (InfoVis), Visual
    Analytics, and Human-Computer Interaction (HCI).
  </p>
  <p class="ad mt-1">
    We are looking for senior undergraduate interns and graduate students. If
    you are interested in research topics such as scalable and responsive
    visualization systems, visualization techniques that explain, and
    human-in-the-loop machine learning, please contact Prof. Jaemin Jo (<a
      href="mailto:jmjo@skku.edu">jmjo@skku.edu</a>).
  </p>
  <p class="ad mt-1">
    우리는 인간과 데이터 및 모델을 연결하는 상호작용 기술을 연구합니다. 현재,
    4학년 학부 연구생과 대학원 신입생을 모집하고 있습니다. 인간-컴퓨터 상호작용,
    대용량 데이터 탐색 시스템, 설명을 위한 시각화 기술, 인간 참여형 기계 학습에
    관심이 있는 학생들은 조재민 교수(<a href="mailto:jmjo@skku.edu">jmjo@skku.edu</a>)에게 연락 바랍니다.
  </p>
</section>

<h2 class="mt-8">Selected Projects</h2>

<section id="projects">
  {% assign selected_projects = site.data.projects | where_exp: "item",
  "item.selected" %} {% for proj in selected_projects %} {% include project.html
  proj=proj %} {% endfor %}
</section>