<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
      <div class="d-flex align-items-center" style="justify-content:center">
        <div class="d-flex align-items-center" style="flex-flow: row !important">
          <img src="/images/skku.jpg" width="100" height="100">
          <div style="margin-right: 20px;">
            <div><a href="https://www.skku.edu/" target="_blank">Sungkyunkwan University</a></div>
            <div><a href="https://cs.skku.edu/" target="_blank">College of Computing</a></div>
          </div>
        </div>
        <div class="flex-grow: 1">
          <div><a href="http://vis.skku.edu">Visualization Laboratory (<span class="vis">VIS</span><span class="lab">Lab</span>)</a>, Room #27326, Bldg. #27</div>
          <div>Seobu-ro 2066, Jangan-gu, Suwon, Gyeonggi-do, 16419</div>
        </div>
        </div>
      </div>

    </div>
  
  </footer>